{% extends 'base/layout.html' %}

{% block content %}
<div class="container">
  <h1>Kea Control</h1>

  <div class="row">

    <div class="col-md-6">
      <h3>Infrastructure</h3>
      <ul>
        <li>
          <a href="{% url 'plugins:netbox_kea_ctrl:keaserver_list' %}">
            Kea Servers
          </a>
        </li>
        <li>
          <a href="{% url 'plugins:netbox_kea_ctrl:keahagroup_list' %}">
            HA Groups
          </a>
        </li>
        <li>
          <a href="{% url 'plugins:netbox_kea_ctrl:keaservertag_list' %}">
            Server Tags
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>Configuration</h3>
      <ul>
        <li>
          <a href="{% url 'plugins:netbox_kea_ctrl:keasharednetwork_list' %}">
            Shared Networks
          </a>
        </li>
        <li>
          <a href="{% url 'plugins:netbox_kea_ctrl:prefix_validation' %}">
            Prefix Validation
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>Operations</h3>
      <ul>
        <li>
          <a href="{% url 'plugins:netbox_kea_ctrl:keapublishjob_list' %}">
            Publish Jobs
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
