{% extends 'base/layout.html' %}

{% block content %}
<div class="container">
  <h1>Edit object</h1>
{% if form.errors %}
  <div class="alert alert-danger">
    <strong>Formen kunne ikke lagres.</strong>
    <ul class="mb-0">
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <li>
            <strong>{{ field }}:</strong> {{ error }}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
</div>
{% endblock %}
